.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# IDE netbeans
/nbproject/*
/user_guide/*

# IDE Sublime
/pen.sublime-project
/pen.sublime-workspace
